.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 100px 50px;
}
.cart-container{
     background-color: #FF99004D;
}
.pagination {
    margin: auto;
    margin-bottom: 50px;
}

.pagination .selected {
    background-color: chocolate;
    border: 1px solid chocolate;
    font-weight: bold;
    padding: 5px;
    color: aliceblue;
}
.select-option{
    margin-left: 10px;
    padding: 4px;
    font-size: 18px;
}